<!DOCTYPE html>
<html>
<head>
  <title>Todo lists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="wrapper">
   <h1><a href="/">Simple todo lists<span><br/>written in Rails 4 and making use of jQuery, AJAX,  SASS</span></a></h1>
 <% if notice %>
  <p class="alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert-danger"><%= alert %></p>
<% end %>
  <div class="userbar">
    <% if user_signed_in? %>
    Logged in as <%= current_user.email %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'register'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'register'  %><%= link_to "Login", new_user_session_path, :class => 'register'  %>
  <% end %>
  </div>
<%= yield %>
<div class="footer">
<p>&copy; <%= Time.now.year %> Valerie</p>
   </div>
<div id="mask" class="mask"></div>   
   </div>
  </body> 
</html>
